{% extends "SAMCoreBundle::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block body %}

    <h1>Page Admin</h1>
    <ul>
        <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}">Edit Profil</a></li>
    </ul>
{% endblock %}